.navtab {
    background-image: url("../img/pattern-2.png");
    background-attachment: fixed;
    .nav-pills {
        .nav-item {
            @media screen and (max-width: 767.98px) {
                width: 100%;
                margin-bottom: $mg-8;
                .nav-link{
                    width: 100%;
                }
            }
            .nav-link {
                display: inline-block;
                padding: $pd-7 $pd-7 * 2;
                text-align: center;
                border-radius: 0px;
                margin-right: $mg-0;
                background-color: $color-grey-7;
                transition: all 0.5s;
                position: relative;
                &::after {
                    transition: all 0.3s;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    width: 0;
                    height: 0;
                    margin-left: -10px;
                    content: "";
                    opacity: 0;
                    border-width: 10px 10px 0 10px;
                    border-style: solid;
                    border-color: $color-white-0 transparent transparent transparent;
                    display: inline-block;
                }
                &.active,
                &:hover {
                    background-color: $color-white-0;
                    &::after {
                        opacity: 1;
                    }
                }
                i {
                    @include styleText($color-black-2, $fs-8, $fw-bold);
                }
            }
        }
    }
    .tab-content {
        padding: $pd-7 0;
        p {
            line-height: $line-height-0;
        }
    }
    .tab-heading {
        text-transform: uppercase;
        margin-bottom: $mg-2;
        span {
            letter-spacing: 2px;
            @include styleText($color-grey-0, $fs-2 + 2, $fw-2);
        }
        h2 {
            margin-bottom: 0;
            letter-spacing: $letter-spacing-4;
            font-weight: normal;
        }
    }
}
