.progressMassaive {
    background-image: url("../img/p-4.jpg");
    @extend .backgroundImg;
    position: relative;
    .dark__overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        content: "";
        background: $color-black-7;
        z-index: 0;
        @media screen and (max-width:767px) {
            opacity: 0;
        }
    }

    .progress__content {
        padding: 0px;
        .progress__item {
            color: $color-white-0;
            padding: 0 $mg-1 + 15px;
            height: 100%;
            h3 {
                width: 100%;
                text-align: center;
                letter-spacing: $letter-spacing-1;
                text-transform: uppercase;
                @include styleText($color-white-0, $fs-4, normal);
            }
            h4 {
                font-size: $fs-7;
                line-height: 1.5;
                margin: 0 0 $mg-1 0;
                text-transform: uppercase;
            }
            @media screen and (max-width:767px) {
                h3{
                    font-size: $fs-7;
                    padding: 150px 0;
                }
                padding-bottom: $pd-7;
            }
            p {
                margin: 0 0 $line-height-0 + 5 0;
                line-height: 30px;
            }
            .progressMass__Bars {
                .progress {
                    margin: $pd-0 0 $mg-2 0;
                    border-radius: 0;
                    height: 20px;
                    background: #606060;
                    overflow: visible;
                    .progress-bar {
                        background-color: $color-white-1;
                        color: $color-black-2;
                        text-align: left;
                        padding-left: $pd-0;
                        box-shadow: none;
                        font-size: $fs-2 - 2;
                        line-height: $line-height-0 - 5;
                        position: relative;
                        overflow: visible;
                        transition: all 0.5s;
                        width: 0px;
                        span {
                            position: absolute;
                            top: -28px;
                            right: -5px;
                            display: inline-block;
                            min-width: 25px;
                            height: 20px;
                            padding: 0 8px;
                            text-align: center;
                            letter-spacing: 0;
                            border-radius: 30px;
                            background-color: $color-grey-2;
                            color: $color-black-2;
                            z-index: 1;
                            &::after {
                                position: absolute;
                                bottom: -2px;
                                left: 15px;
                                display: block;
                                width: 5px;
                                height: 5px;
                                content: "";
                                transform: rotate(45deg);
                                background-color: $color-grey-2;
                                border-right: 1px solid $color-grey-2;
                            }
                        }
                    }
                }
            }
        }
    }
}
